<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
<form role="form" action="/sam/" method="post" > {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Submit</button>
</form>
</body>
</html>